{
  "username" : "05111740000029",
  "password" : "Password",

  "nrp" : "5117100029",
  "semester" : "1",
  "tahun_ajaran" : "2020",
  "pilihan_kelas": [
      {
          "kode": "IF184974",
          "value": "IF4974",
          "kelas": "A",
          "tipe": 1
      },
      {
          "kode": "IF184912",
          "value": "IF4912",
          "kelas": "A",
          "tipe": 1
      },
      {
          "kode": "UG184915",
          "value": "UG4915",
          "kelas": "3",
          "tipe": 2
      },
      {
          "kode": "UG184915",
          "value": "UG4915",
          "kelas": "4",
          "tipe": 2
      },
      {
          "kode": "SF184899",
          "value": "SF4899",
          "kelas": "P",
          "id_dept": "11100",
          "tipe": 3
      }
  ],

  "time_sleep" : 5,
  "mulai": true,
  "time_ambil" : "2020-09-21 00:00:00",
  "format_value_jur" : "{}|{}|2018|51100|0|1|",
  "format_value_tpb" : "{}|{}|2018|__TPB|0|1|",
  "format_value_pengayaan" : "{}|{}|2018|{}|1|1|",

  "cookies_file" : "cookies",
  "url_integra": "https://integra.its.ac.id",
  "url_siakad": "https://akademik.its.ac.id"
}