{
  "username" : "05111740000029",
  "password" : "Password",

  "nrp" : "5117100029",
  "semester" : "1",
  "tahun_ajaran" : "2019",
  "pilihan_kelas" : [
    {
      "kode": "IF184501",
      "value": "IF4501",
      "kelas": "E"
    },
    {
      "kode": "IF184502",
      "value": "IF4502",
      "kelas": "E"
    },
    {
      "kode": "IF184503",
      "value": "IF4503",
      "kelas": "C"
    },
    {
      "kode": "IF184506",
      "value": "IF4506",
      "kelas": "C"
    },
    {
      "kode": "IF184701",
      "value": "IF4701",
      "kelas": "B"
    },
    {
      "kode": "IF184942",
      "value": "IF4942",
      "kelas": "_"
    }
  ],

  "time_sleep" : 5,
  "mulai": false,
  "time_ambil" : "2019-08-19 00:00:00",
  "format_value" : "{}|{}|2018|51100|0",

  "cookies_file" : "cookies",
  "url_integra": "https://integra.its.ac.id",
  "url_siakad": "https://akademik.its.ac.id"
}